body {
  height:600px;
  margin: 0px;
  padding:0px;
}

#map {
  display: inline-block;
  position: absolute;
  background-color: grey;
}

.separator{
  height: 1px;
  width: 100%;
  background: #555;
}

.input-text{
  margin-top: -6px;
  margin-bottom: 16px;
  width: 100%;
  color: black;
  caret-color: #283593;
  font-size: 1.2em;
  border: none;
}

.input-label{
  display: block;
  font-size: 0.75em;
}

.address{
  width:80%;
  height: auto;
  font-size: 1em;
  margin-left: 10%;
  margin-right: 10%;
  padding: 8px 8px 8px 8px;
  border: bottom;
}

.username{
  height: auto;
  margin-left: 20px;
  text-size:1em;
  border: none;
}

nav {
  box-shadow: 1px 1px 1px grey;
  position: fixed;
  top: 0px;
  width:300px;
  height: 100%;
}


#restaurant-list {
  overflow:scroll;
  width: 300px;
  background: white;
}

#results {
  padding-top: 20px;
  padding-left: 20px;
  height:100%;
  padding-right: 10px;
}

#ratings {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.star{
  display: inline-block;
  width:16px;
  height:16px;
  margin-bottom: 5px;
}

.stars{
  display: inline-block;
  background: #ABCABC;
}



#action-bar{
  background: #283593;

}

#action-icon{
  display: inline-block;
  padding: 8px 8px 8px 8px;
}

#action-title{
  color: #151515;
  display: inline-block;
  width:85%;
  padding-left: 8px;
  color: white;

}

#description {
  background: #eeeeee;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

h5{
  display: inline-block;
  font-weight: bolder;
  font-size: 1.3em;
}


h4{
    display: inline-block;
    margin-right: 3px;
}

h3{
      padding-top: 6px;
      margin-right: 10px;
      display: inline-block;
}
