
#map {
  min-width: 400px;
  height: 600px;
  width: 100%;
  background-color: grey;
}

#ratings {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.star{
  display: inline-block;
  width:16px;
  height:16px;
  margin-bottom: 5px;
}

.stars{
  display: inline-block;
  background: #ABCABC;
}

#action-bar{
  background: #283593;
  position: fixed;
  top: 0px;
  padding: 16px 16px 16px 16px;
  width:300px;
}

#action-icon{
  display: inline-block;
  margin-right: 8px;
}

#action-button{
  display: inline-block;
  margin-left: 16px;
  float: right;
  margin-right: 8px;
}

h5{
  display: inline-block;
  text-decoration-style: double;
  color: #eeeeee;
}
h4{
    display: inline-block;
    margin-right: 3px;
}
